#header {
  width: 100%;
  background-color: cornflowerblue;
  color: white;
}

#nav-bar{
  background-color: cornflowerblue;
  color:white;
  font-size: 14pt;
}

#nav-bar a{
  color:white;
  background-color: cornflowerblue;
}

#nav-bar a:hover {
  background-color: cornflowerblue;
}

#nav-dropdown a{
  background-color: white;
}

#navbarDropdownMenuLink {
  overflow: visible;
}

/* .btn-file {
  overflow: hidden;
} */
.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#img-upload {
  width: 100%;
}
#map {
  width: 100%;
  height: 200px;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#searchInput {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 50%;
}
#searchInput:focus {
  border-color: #4d90fe;
}

#search-card {
  width: 18rem; 
  background-color:#bbb; 
  border-radius: 5px; text-align: center; 
  margin-top: 5px; 
  padding: 3px; 
  display: inline-block;
}
